<redoc <%= @swagger_config %>></redoc>
<%= javascript_include_tag "swagger_ui_engine/application" %>

<% if @swagger_urls.size > 1 %>
  <div class="swagger-ui-wrap">
    <a href="<%= docs_path %>" class="swagger-return-link" data-sw-translate>Back to the list</a>
  </div>
<% end %>
