<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>API Docs</title>
  <!-- needed for adaptive design -->
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--
  ReDoc doesn't change outer page styles
  -->
  <style>
    body {
    margin: 0;
    padding: 0;
    }
  </style>
  <%= csrf_meta_tags %>
</head>

<body>

<%= javascript_include_tag "swagger_ui_engine/application" %>
<%= yield(:script) if content_for?(:script) %>
</body>

</html>
